@*@model TrashCollector.Models.Customer*@

@{
    ViewBag.Title = "Index";
}
<body>
    <center>
        <h2>Welcome</h2>

        <div>
            <h4> Select what it is you'd like to do. </h4>
        </div>
    </center>
</body>

